h2 {
  color: green;
  background-color: #702999;
}

button {
  color: magenta;
  background-color: rgba(34, 49, 159, 0.256);
}

p {
  color: olive;
  background: orange;
}

body {
  background-color: #09a466;
}
